
<!--start QR code stuff -->
<script type="text/javascript" src="/scripts/components/util/qr/grid.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/version.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/detector.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/formatinf.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/errorlevel.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/bitmat.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/datablock.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/bmparser.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/datamask.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/rsdecoder.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/gf256poly.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/gf256.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/decoder.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/qrcode.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/findpat.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/alignpat.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/databr.js"></script>
<script type="text/javascript" src="/scripts/components/util/qr/haha.js"></script>
<!--end QR code stuff-->
<div>

    <h2>Select a category</h2>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-2 nopaddingLeft">
                <input type="text" class="form-control" placeholder="搜索。。。" ng-model="checkout_state.sku">
            </div>
            <a class="btn btn-info" ng-click="checkout('sku')">
                <span class="glyphicon icon-qrcode" aria-hidden="true"></span>产品编号出库
            </a>
            <a class="btn btn-info" ng-click="checkout('qr')">
                <span class="glyphicon icon-qrcode" aria-hidden="true"></span>产品二维码出库
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>SKU</th>
                <th translate="zimoloApp.product.name">Name</th>
                <th>Date Out</th>
                <th>Width</th>
                <th>Height</th>
                <th>Unit Price</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] <= page">
            <tr ng-repeat="product in products">
                <td><a ui-sref="productDetail({id:product.id})">{{product.sku}}</a></td>
                <td>{{product.name}}</td>
                <td>{{product.checkout_date}}</td>
                <td>{{product.width}}</td>
                <td>{{product.height}}</td>
                <td>{{product.unit_price}}</td>
                <td>{{product.price}}</td>


            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="qr_scanner_modal">


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">扫描产品 QR</h4>
    </div>

    <div class="modal-body">
        <div ng-show="how=='qr' && sku==undefined">
            <video id="video" style="width:100%" autoplay poster="img/camera.png"></video>
            <canvas id="qr-canvas" style="display: none" width="640" height="480"></canvas>
        </div>

        <div ng-show="how=='sku'">
            <input type="text" class="form-control" placeholder="Please Enter Qrcode for the Product" ng-model="sku">
        </div>

        <label>{{sku}}</label>

    </div>


    <div class="modal-footer">
        <a class="btn btn-info" ng-click="comfirm()">
            <span class="glyphicon icon-qrcode" aria-hidden="true"></span>Comfirm
        </a>
        <a class="btn btn-info" ng-click="cancell()">
            <span class="glyphicon icon-qrcode" aria-hidden="true"></span>Cancell
        </a>
    </div>

</script>
