<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " data-ng-app="monospaced.qrcode" id="ng-app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your request cannot be processed</title>
</head>
<body  data-ng-init="foo='here comes qr!';bar='https://github.com/monospaced/angular-qrcode';v=4;e='M';s=274;">

    <div th:each="line  : ${skus}">

        <span th:each="sku  : ${line}">
            <qrcode th:attr="data=${sku}" class="qr_class" style="display: inline-block"></qrcode>
            <span th:text="${sku}"></span>
            <img src="/assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
        </span>
    </div>
 <!--
    <div>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
         <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
    </div>

    <div>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
    </div>

    <div>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
    </div>

    <div>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
    </div>

    <div>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
        <qrcode th:attr="data=${attr}" class="qr_class" style="display: inline-block"></qrcode>
        <img src="assets/images/logo.png" class="logo_class" id="logo1" alt="logo1" style="display: inline-block"/>
    </div>

-->


    <script src="/bower_components/angular/angular.js"></script>
    <script src="http://monospaced.github.io/bower-qrcode-generator/js/qrcode.js"></script>
    <script src="http://monospaced.github.io/bower-qrcode-generator/js/qrcode_UTF8.js"></script>
    <script src="/js/components/util/qrcode.js"></script>
</body>
</html>




